@import url('https://fonts.googleapis.com/css?family=Raleway');

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

.hostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px
}

.hostImg {
  height: 64px;
  width: 64px;
  border-radius: 100px;
}

.hostName{
  width: 80px;
  overflow-wrap: break-word;
  text-align: center
}

.propertyName {
  font-size: 32px;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
}

.cityName{
  margin-top: 7px;
  margin-bottom: 10px;
}
